@model mvcGCards.Models.Trade

@{
    ViewData["Title"] = "Confirm";
}

<h1 style="color:darkred">Failed edit</h1>

<div>
    <h4 style="color:red">you can't edit a trade after sending </h4>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
