@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        In this work, a web application for the information system "Information cards" was
        developed using the C# programming language. The system is designed to store data on
        all existing cards, as well as on the availability of cards for specific users
    </p>
    <br />
    <br />
    <br />
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
