@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This site does not have any commercial implementation, so here are the
    main features of all possible roles</p>
<h3>Guest</h3>
<p>search the collection, view information about cards</p>

<h3>User</h3>
<p>All guest options, ability to maintain your own collection </p>

<h3>Moderator</h3>
<p>All user capabilities, ability to manage the card database - deleting, adding, editing</p>