@model mvcGCards.Models.UserCard
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

<h4>Card</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserName" value=@UserManager.GetUserName(User) />
            <input type="hidden" asp-for="CardId" />
            
            <div class="form-group">
                <label asp-for="CountDublicate" class="control-label"></label>
                <input asp-for="CountDublicate" class="form-control" />
                <span asp-validation-for="CountDublicate" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Cards">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}